node_modules/

.vscode/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem


.env
.env*.local

*.tsbuildinfo
app-example


/ios
/android

# Worker
.wrangler/
.dev.vars